nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555; 
}

nav ul li {
    float: left; 
}

nav ul li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

nav ul li a:hover {
    background-color: #333;
}


table {
    background-color: yellow;
    width: 100%;
    border-collapse: collapse; 
}

table, th, td {
    border: 1px solid black;
    padding: 8px; 
}

th {
    background-color: #f2f2f2;
}
